@model List<AccountListModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-6"> 


        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
                <h5 class="card-title">Kullanıcı Bilgisi </h5>
                <p class="card-text">Ad: @ViewBag.FullName</p>
                <a  asp-action="Index"  asp-controller ="Home" class="btn btn-primary">Kullanıcı Listesine Geri Dön</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h5> Hesap Bilgileri </h5>
        @if(Model != null)
        {
            foreach(var account in Model)
            {
               <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">@account.AccountNumber</h5>
                    <p class="card-text">Bakiye Bilgisi: @account.Balance</p>
                    <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
            </div>  
            }
           
        }
        else

        {
            <div class="alert alert-info text-center">
                
            <p class="lead">
               Kullanıcı  Hesanı bulunmamaktadır.
            </p>
            </div>

        }

       
       
    </div>
    </div>