@model List<WorkListDto>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container my-2"> 

    <table class="table table-borderless table-hover">
        <tr>
            <td> #</td>
            <td> Not</td>
            <td> Durum</td>


        </tr>
        @foreach(var work in Model)
        {
           <tr>
            <td class="overflow-hidden"> @work.Id</td>
            <td>@work.Definition</td>
            <td> @work.IsCompleted</td>


        </tr> 
        }
        

    </table>

</div>